@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-image: url('../img/code.jpg');
  background-size: cover;
}

h1 {
  font-family: 'Roboto';
  color: #fff;
  margin-bottom: 50px;
  margin-top: 50px;
}

a {
  word-wrap: break-word;
  text-decoration: underline;
  color: #000;
}

section {
  width: 800px;
}

.nav ul {
  list-style: none;

  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.nav ul li {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  align-items: center;

  font-family: 'Roboto';
  font-weight: 700;
  font-size: 1.5em;
  text-align: center;

  background: rgba(255, 255, 255, .4);
  color: #fff;
  backdrop-filter: blur(3px);
  padding: 15px;
}

.nav ul li:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, .5);
  transition: .2s;
}

.nav ul li.active {
  background: rgba(255, 255, 255, .6);
}

.nav ul li:first-child {
  border-top-left-radius: 10px;
}

.nav ul li:last-child {
  border-top-right-radius: 10px;
}

.content {
  background: rgba(255, 255, 255, .2);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.content-item {
  min-height: 250px;

  display: none;

  box-sizing: border-box;
  padding: 20px;
}

.content-item.active {
  display: block;
  animation: show-right .5s forwards;
}

@keyframes show-right {
  from {
    opacity: 0;
    transform: translate3d(-15px, 0, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

.content-item h2 {
  font-family: 'Roboto';
  font-weight: 700;
  margin-bottom: 15px;
}

.content-item p {
  font-family: 'Roboto';
  font-weight: 400;
}

.projetos-item {
  background: rgba(255, 255, 255, .8);
  
  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
  
  margin-bottom: 15px;
}

.sobre-mim {
  background: rgba(255, 255, 255, .8);

  box-sizing: border-box;
  padding: 10px;
  border-radius: 5px;
}

.projetos-item:last-child{
  margin-bottom: 0;
}

.projetos-item h3 {
  font-family: 'Roboto';
  font-weight: 700;

  margin-bottom: 15px;
}

.projetos-item h3 a {
  text-decoration: underline;
  color: #000;
}

.description {
  display: block;

  font-family: 'Roboto';
  font-weight: 400;

  margin-bottom: 5px;
}

.description a {
  text-decoration: underline;
  color: #000;
}

.description:last-child {
  margin-bottom: 0;
}

@media (max-width: 800px) {
  section {
    width: 600px;
  }
}

@media (max-width: 600px) {
  section {
    width: 250px;
  }

  .description {
    font-size: 14px;
  }
}